In [5]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\ktail\\Downloads\\titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [8]:
df2 = pd.read_csv("C:\\Users\\ktail\\Downloads\\tips.csv")
df2

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [9]:
df3 = pd.read_csv("C:\\Users\\ktail\\Downloads\\covid_toy.csv")
df3

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [13]:
df3.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [14]:
df3.tail()

    age  gender  fever   cough       city has_covid
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

In [10]:
df4 = pd.read_csv("C:\\Users\\ktail\\Downloads\\placement.csv")
df4

    cgpa  resume_score  placed
0   8.14          6.52       1
1   6.17          5.17       0
2   8.27          8.86       1
3   6.88          7.27       1
4   7.52          7.30       1
..   ...           ...     ...
95  6.33          6.38       0
96  8.23          7.76       1
97  6.65          7.78       0
98  8.14          5.63       1
99  6.09          6.61       0

[100 rows x 3 columns]

In [11]:
df4.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [12]:
df4.tail()

    cgpa  resume_score  placed
95  6.33          6.38       0
96  8.23          7.76       1
97  6.65          7.78       0
98  8.14          5.63       1
99  6.09          6.61       0

In [15]:
df4.describe() #staticaly view of data

           cgpa  resume_score      placed
count  100.0000    100.000000  100.000000
mean     6.9422      6.930500    0.500000
std      1.1192      0.979608    0.502519
min      5.2700      4.950000    0.000000
25%      5.9800      6.190000    0.000000
50%      6.6200      7.055000    0.500000
75%      8.0450      7.640000    1.000000
max      9.4000      9.060000    1.000000

In [16]:
df4.info() #data type information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cgpa          100 non-null    float64
 1   resume_score  100 non-null    float64
 2   placed        100 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [23]:
top_left_corner_df4 = df4.iloc[:4 ,:3] ### [row range , coulam range]
top_left_corner_df4

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1

In [35]:
df4.loc[1:3 ,["cgpa" , "placed"]] #### loc[row_range, coulum_names]

   cgpa  placed
1  6.17       0
2  8.27       1
3  6.88       1

In [25]:
p = df4.dtypes ### it returns true if there any missing dat in dat frame otherwise retruns false.
p

cgpa            float64
resume_score    float64
placed            int64
dtype: object

In [27]:
b = df4.empty ### it returns true if there anty missing data in dataframe otherwise return false.
b

False

In [28]:
df4.isnull().sum() ### for check missing values.

cgpa            0
resume_score    0
placed          0
dtype: int64

In [31]:
df4.dropna ### for remove missing row

<bound method DataFrame.dropna of     cgpa  resume_score  placed
0   8.14          6.52       1
1   6.17          5.17       0
2   8.27          8.86       1
3   6.88          7.27       1
4   7.52          7.30       1
..   ...           ...     ...
95  6.33          6.38       0
96  8.23          7.76       1
97  6.65          7.78       0
98  8.14          5.63       1
99  6.09          6.61       0

[100 rows x 3 columns]>

In [8]:
df5 = pd.read_csv("C:\\Users\\ktail\\Downloads\\flipkart.csv")
df5

,CGtC98 href,DByuf4 src,uu79Xy,KzDlHZ,XQDdHH,Rza2QY src,Wphh3N,hG7V+4,Wphh3N 2,J+igdf,...,J+igdf 6,Nx9bqj,yRaY8j,UkUFwK,yiggsN,_0CSTHy src,yiggsN 2,yiggsN 3,yiggsN 4,yiggsN 5
0,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 5G (Marble Gray, 128 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,813 Ratings",&,176 Reviews,8 GB RAM | 128 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹54,999","â‚¹74,999",26% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹31,050",Off on Exchange,Bank Offer
1,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 5G (Onyx Black, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,813 Ratings",&,176 Reviews,8 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹60,999","â‚¹79,999",23% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹38,150",Off on Exchange,Bank Offer
2,https://www.flipkart.com/samsung-galaxy-s24-fe...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 FE 5G (Blue, 128 GB)",4.4,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,747 Ratings",&,151 Reviews,8 GB RAM | 128 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹34,999","â‚¹59,999",41% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Lowest price since launch,Only 4 left,NaN,NaN
3,https://www.flipkart.com/realme-14-pro-5g-sued...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"realme 14 Pro+ 5G (Suede Grey, 256 GB)",4.4,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","3,719 Ratings",&,506 Reviews,12 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹34,999","â‚¹37,999",7% off,Free delivery,NaN,Upto,"â‚¹21,850",Off on Exchange,Bank Offer
4,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 5G (Amber Yellow, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,813 Ratings",&,176 Reviews,8 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹60,999","â‚¹79,999",23% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹38,150",Off on Exchange,Bank Offer
5,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 5G (Amber Yellow, 512 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,813 Ratings",&,176 Reviews,8 GB RAM | 512 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹82,999","â‚¹89,999",7% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹38,150",Off on Exchange,Bank Offer
6,https://www.flipkart.com/realme-gt-6-razor-gre...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"realme GT 6 (Razor Green, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,051 Ratings",&,107 Reviews,12 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹32,999","â‚¹46,999",29% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Lowest price since launch,Upto,"â‚¹20,600",Off on Exchange
7,https://www.flipkart.com/realme-gt-6-fluid-sil...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"realme GT 6 (Fluid Silver, 512 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","4,481 Ratings",&,517 Reviews,16 GB RAM | 512 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹35,999","â‚¹51,999",30% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹22,500",Off on Exchange,Bank Offer
8,https://www.flipkart.com/samsung-galaxy-a36-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy A36 5G (Awesome Black, 128 GB)",4.4,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",279 Ratings,&,29 Reviews,8 GB RAM | 128 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹30,999","â‚¹35,999",13% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹19,300",Off on Exchange,Bank Offer
9,https://www.flipkart.com/vivo-v50-5g-rose-red-...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"vivo V50 5G (Rose Red, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","3,323 Ratings",&,344 Reviews,8 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹36,999","â‚¹42,999",13% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹23,600",Off on Exchange,Bank Offer
10,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 5G (Onyx Black, 512 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,813 Ratings",&,176 Reviews,8 GB RAM | 512 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹82,999","â‚¹89,999",7% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹38,150",Off on Exchange,Bank Offer
11,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 5G (Cobalt Violet, 128 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,813 Ratings",&,176 Reviews,8 GB RAM | 128 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹54,999","â‚¹74,999",26% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹31,050",Off on Exchange,Bank Offer
12,https://www.flipkart.com/realme-14-pro-5g-sued...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"realme 14 Pro+ 5G (Suede Grey, 256 GB)",4.4,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","5,619 Ratings",&,903 Reviews,8 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹31,999","â‚¹35,999",11% off,Free delivery,NaN,Upto,"â‚¹20,150",Off on Exchange,Bank Offer
13,https://www.flipkart.com/samsung-galaxy-s24-fe...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 FE 5G (Graphite, 256 GB)",4.4,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,747 Ratings",&,151 Reviews,8 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹40,999","â‚¹65,999",37% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Lowest price since launch,Upto,"â‚¹24,050",Off on Exchange
14,https://www.flipkart.com/vivo-t3-ultra-frost-g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"vivo T3 Ultra (Frost Green, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","7,420 Ratings",&,608 Reviews,12 GB RAM | 256 GB ROM,...,1 Year Warranty on Handset and 6 Months Warran...,"â‚¹30,999","â‚¹39,999",22% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹16,300",Off on Exchange,Bank Offer
15,https://www.flipkart.com/realme-14-pro-5g-bika...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"realme 14 Pro+ 5G (Bikaner Purple, 256 GB)",4.4,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","5,619 Ratings",&,903 Reviews,8 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹31,999","â‚¹35,999",11% off,Free delivery,NaN,Upto,"â‚¹20,150",Off on Exchange,Bank Offer
16,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 5G (Onyx Black, 128 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,813 Ratings",&,176 Reviews,8 GB RAM | 128 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹74,999",NaN,NaN,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹38,150",Off on Exchange,Bank Offer
17,https://www.flipkart.com/apple-iphone-13-starl...,https://rukminim2.flixcart.com/image/312/312/k...,Add to Compare,"Apple iPhone 13 (Starlight, 128 GB)",4.6,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","2,89,463 Ratings",&,"13,852 Reviews",128 GB ROM,...,NaN,"â‚¹44,999","â‚¹49,900",9% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹27,500",Off on Exchange,Bank Offer
18,https://www.flipkart.com/vivo-v50-5g-rose-red-...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"vivo V50 5G (Rose Red, 128 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","3,323 Ratings",&,344 Reviews,8 GB RAM | 128 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹34,999","â‚¹39,999",12% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹21,850",Off on Exchange,Bank Offer
19,https://www.flipkart.com/vivo-t3-ultra-lunar-g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"vivo T3 Ultra (Lunar Gray, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","7,420 Ratings",&,608 Reviews,12 GB RAM | 256 GB ROM,...,1 Year Warranty on Handset and 6 Months Warran...,"â‚¹30,999","â‚¹39,999",22% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Only 3 left,Upto,"â‚¹16,300",Off on Exchange
20,https://www.flipkart.com/nothing-phone-3a-pro-...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"Nothing Phone (3a) Pro (Grey, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",820 Ratings,&,90 Reviews,12 GB RAM | 256 GB ROM,...,1 Year Manufacturing Warranty,"â‚¹33,999","â‚¹36,999",8% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹20,600",Off on Exchange,Bank Offer
21,https://www.flipkart.com/oneplus-13r-5g-nebula...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"OnePlus 13R 5G (Nebula Noir, 512 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",214 Ratings,&,19 Reviews,16 GB RAM | 512 GB ROM,...,NaN,"â‚¹46,393","â‚¹51,999",10% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Only 1 left,Bank Offer,NaN,NaN
22,https://www.flipkart.com/oneplus-13r-5g-astral...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"OnePlus 13R 5G (Astral Trail, 512 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",214 Ratings,&,19 Reviews,16 GB RAM | 512 GB ROM,...,NaN,"â‚¹44,998","â‚¹51,999",13% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Only few left,Bank Offer,NaN,NaN
23,https://www.flipkart.com/vivo-v50-5g-starry-ni...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"vivo V50 5G (Starry Night, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","3,323 Ratings",&,344 Reviews,8 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹36,999","â‚¹42,999",13% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹23,600",Off on Exchange,Bank Offer
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df5.head()

,CGtC98 href,DByuf4 src,uu79Xy,KzDlHZ,XQDdHH,Rza2QY src,Wphh3N,hG7V+4,Wphh3N 2,J+igdf,...,J+igdf 6,Nx9bqj,yRaY8j,UkUFwK,yiggsN,_0CSTHy src,yiggsN 2,yiggsN 3,yiggsN 4,yiggsN 5
0,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 5G (Marble Gray, 128 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,813 Ratings",&,176 Reviews,8 GB RAM | 128 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹54,999","â‚¹74,999",26% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹31,050",Off on Exchange,Bank Offer
1,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 5G (Onyx Black, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,813 Ratings",&,176 Reviews,8 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹60,999","â‚¹79,999",23% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹38,150",Off on Exchange,Bank Offer
2,https://www.flipkart.com/samsung-galaxy-s24-fe...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 FE 5G (Blue, 128 GB)",4.4,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,747 Ratings",&,151 Reviews,8 GB RAM | 128 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹34,999","â‚¹59,999",41% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Lowest price since launch,Only 4 left,NaN,NaN
3,https://www.flipkart.com/realme-14-pro-5g-sued...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"realme 14 Pro+ 5G (Suede Grey, 256 GB)",4.4,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","3,719 Ratings",&,506 Reviews,12 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹34,999","â‚¹37,999",7% off,Free delivery,NaN,Upto,"â‚¹21,850",Off on Exchange,Bank Offer
4,https://www.flipkart.com/samsung-galaxy-s24-5g...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"SAMSUNG Galaxy S24 5G (Amber Yellow, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","1,813 Ratings",&,176 Reviews,8 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹60,999","â‚¹79,999",23% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹38,150",Off on Exchange,Bank Offer

In [10]:
df5.tail()

,CGtC98 href,DByuf4 src,uu79Xy,KzDlHZ,XQDdHH,Rza2QY src,Wphh3N,hG7V+4,Wphh3N 2,J+igdf,...,J+igdf 6,Nx9bqj,yRaY8j,UkUFwK,yiggsN,_0CSTHy src,yiggsN 2,yiggsN 3,yiggsN 4,yiggsN 5
21,https://www.flipkart.com/oneplus-13r-5g-nebula...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"OnePlus 13R 5G (Nebula Noir, 512 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",214 Ratings,&,19 Reviews,16 GB RAM | 512 GB ROM,...,NaN,"â‚¹46,393","â‚¹51,999",10% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Only 1 left,Bank Offer,NaN,NaN
22,https://www.flipkart.com/oneplus-13r-5g-astral...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"OnePlus 13R 5G (Astral Trail, 512 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...",214 Ratings,&,19 Reviews,16 GB RAM | 512 GB ROM,...,NaN,"â‚¹44,998","â‚¹51,999",13% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Only few left,Bank Offer,NaN,NaN
23,https://www.flipkart.com/vivo-v50-5g-starry-ni...,https://rukminim2.flixcart.com/image/312/312/x...,Add to Compare,"vivo V50 5G (Starry Night, 256 GB)",4.5,"data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0...","3,323 Ratings",&,344 Reviews,8 GB RAM | 256 GB ROM,...,1 Year Manufacturer Warranty for Device and 6 ...,"â‚¹36,999","â‚¹42,999",13% off,Free delivery,https://static-assets-web.flixcart.com/fk-p-li...,Upto,"â‚¹23,600",Off on Exchange,Bank Offer
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN